<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>PIES</string>
	<string>KOT</string>
	<string>RYBA</string>
	<string>TYGRYS</string>
	<string>LEW</string>
	<string>OWCA</string>
	<string>MUCHA</string>
	<string>KOMAR</string>
	<string>KACZKA</string>
	<string>MYSZ</string>
	<string>SOWA</string>
	<string>BIEDRONKA</string>
	<string>LIS</string>
</array>
</plist>
